@{
    ViewBag.Title = "CaronteCHK";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        body {
            background-color: black;
            font-family: Arial, sans-serif;
            text-align: center;
            color: white;
        }

        .login-container {
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            margin: 0 auto;
            margin-top: 100px;
        }

        .login-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .input-field {
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            border-bottom: 2px solid white;
            color: white;
            padding: 10px;
            margin: 10px 0;
            width: 100%;
        }

        .input-field:focus {
            outline: none;
        }

        .btn {
            background-color: #3498db;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 5px;
            cursor: pointer;
            border-radius: 5px;
        }

        .btn-register {
            background-color: #e74c3c;
        }
    </style>
</head>
<body>
<div class="login-container">
    <h2 class="login-title">CaronteCHK</h2>
    <form id="loginForm">
        <input type="text" id="username" class="input-field" placeholder="Usuario" name="username" required>
        <input type="password" id="password" class="input-field" placeholder="Contraseña" name="password" required>
        <button type="button" class="btn" id="loginButton">Iniciar Sesión</button>
    </form>
</div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#loginButton").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();

            $.ajax({
                url: '@Url.Action("loginAuth", "Home")',
                method: 'POST',
                data: { username: username, password: password },
                success: function (response) {
                    window.location.href = '/Home/Index'; 
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    });
</script>

